extends baseEmail

block content
  p Hi #{firstName},
  p Password Reset link
  p Forgot your password? Please click the following link to change your password.This link is valid only for 10 mins.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Click this link
  p Thanks,
  p - The Haarsan account team