extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form-login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          //- .password-eye
          //-   svg.card__icon.num1
          //-     use(xlink:href='/img/icons.svg#icon-eye-off')
          //- .password-eye
          //-   svg.card__icon.num2
          //-     use(xlink:href='/img/icons.svg#icon-eye')
        .form__group
          button.btn.btn--green Login
    a.remove--outline(href='/forgotPassword')
      button.btn.btn-move.btn--blue forgot password?