extends base

block content
  main.main 
    .login-form
      form.form.form--resetPassword
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
            label.form__label(for='passwordConfirm') PasswordConfirm
            input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green.btn--new--pass(type = 'submit', data-token=`${token ? token: ''}`) Save New Password
          input#email(type='hidden' value=`${email}`)
        